@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: hsl(13, 31%, 94%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Red Hat Text', sans-serif;
}
